<div id="cv">
  <div id="innerBox">

    <h1 style="font-size:68px;" class="hidden-xs name">LENNERT <br> GAVEL</h1>

    <h1 style="font-size:55px;" class="visible-xs name">LENNERT <br> GAVEL</h1>

    <div class="col-sm-2 visible-xs">
      <div class="body">
        <div class="profile-image">
          <img src="img/lennert.gif">
        </div>
      </div>
    </div>

    <div class="urbanus" data-ng-if="urbanus" style="position: absolute; width: 220px;right:10px;top:10px;">
      <img src="https://s-media-cache-ak0.pinimg.com/originals/2e/f5/64/2ef564783c6e427db472d6a3fcf169c5.jpg">
    </div>

    <div class="absurd" data-ng-if="absurd" style="position: absolute;right: 230px;top: 50px;width: 120px;">
      <img src="img/zebra.gif">
    </div>
    <div class="absurd" data-ng-if="calligraphy" style="position: absolute;width: 260px;left: 259px;top: -20px;">
      <img data-ng-src="{{calligraphyPath}}">
    </div>
    <div class="absurd" data-ng-if="absurd" style="position: absolute;width: 220px;right: -40px;top: 536px;z-index: 1;">
      <img src="img/thunder.gif">
    </div>

    <div class="row">
      <div class="col-sm-1 smaller">
        <div class="header">
          <h3>CONTACT</h3>
        </div>

        <div class="body">
          <div class="pre-letter">T</div>
          0485 / 57 51 90
          <br />
          <br />

          <div class="pre-letter">M</div>
          <a href="mailto:lennert.gavel@gmail.com">lennertgavel@gmail.com</a>


        </div>

        <div class="header">
          <h3>OPLEIDING</h3>
        </div>

        <div class="body">
          <div class="year">20<br>13</div>
          JAVA development: <br> IntecBrussel
          <br />
          <br />

          <div class="year">20<br>11</div>
          Master in Grafisch ontwerp <br> Onderscheiding
          <br />
          <br />

          <div class="year">20<br>10</div>
          Bachelor in Grafisch ontwerp <br> Grote onderscheiding
          <br />
          <br />

          <div class="year">20<br>07</div>
          Middelbaar: <br> Wetenschappen-Wiskunde
        </div>

      </div>
      <div class="col-sm-4">
        <div class="header">
          <h3>OVER MEZELF</h3>
        </div>
      </div>
      <div class="col-sm-2">

        <div class="body">

          <!-- HTML/CSS and typography is a terrible, so I did the justification myself
                     which means -> switch to a non edited version on mobile devices... -->
          <div class="text hidden-xs">
            <p>
              Met een minimum hoeveelheid aan moeite
              <span style="letter-spacing:-0.6px;">je doel bereiken: het zit in de subtiele schoonheid</span>
              van de <a href="javascript:;" data-ng-click="typo();">Typografie</a>,
              de simpliciteit van goede <span style="letter-spacing:-0.5px;">code, de snelheid van queries naar de databank,</span>
              de humor en lijnvoering van een illustratie, in alle facetten van vormgeving.
            </p>

            <p>
              Code schrijven leert mij dat een goede programmeur lui is:
              Niet afkerig van werk, maar wel tegenover inefficiëntie.
              Geen ge-
              <span style="letter-spacing:0.3px;">noegen nemen met tijdelijke oplossingen,</span>
              <span style="letter-spacing:0.1px;">maar streven naar elegante aanpassingen.</span>
              <span style="letter-spacing:-0.4px;">Beter en efficiënter. Makkelijk te onderhouden,</span>
              zowel wat betreft overzicht als inhoud, <br>
              en vatbaar voor hergebruik.
            </p>

            <p>
              Ik ben Lennert Gavel, opgegroeid in de Vlaamse Ardennen, op de ‘Haaghoek’ voor
              <span style="letter-spacing:0.3px;">de koersliefhebbers. Sinds mijn acht jaar</span>
              liep ik school in het Gentse waar ik onder-
              <span style="letter-spacing:-0.4px;">tussen, na er tien jaar te wonen,</span>
              heb gesetteld in een huisje te Gentbrugge.
            </p>
          </div>
          <div class="text visible-xs">
            <p>
              Met een minimum hoeveelheid aan moeite
              je doel bereiken: het zit in de subtiele schoonheid
              van de Typografie, de simpliciteit van goede code, de snelheid van queries naar de databank,
              de humor en lijnvoering van een illustratie, in alle facetten van vormgeving.
            </p>

            <p>
              Code schrijven leert mij dat een goede programmeur lui is:
              Niet afkerig van werk, maar wel tegenover inefficiëntie.
              Geen genoegen nemen met tijdelijke oplossingen, maar streven naar elegante aanpassingen.
              Beter en efficiënter. Makkelijk te onderhouden,
              zowel wat betreft overzicht als inhoud, en vatbaar voor hergebruik.
            </p>

            <p>
              Ik ben Lennert Gavel, opgegroeid in de Vlaamse Ardennen, op de ‘Haaghoek’ voor de
              koersliefhebbers. Sinds mijn acht jaar liep ik school in het Gentse waar ik ondertussen, na
              er tien jaar te wonen, heb gesetteld in een huisje te Gentbrugge.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">

        <div class="body">

          <!-- HTML/CSS and typography is a terrible, so I did the justification myself
                    which means -> switch to a non edited version on mobile devices... -->
          <div class="text hidden-xs">
            <p>Ik hou ongeveer evenveel van Kunst als van basket, code, voetbal, illustratie, <a href="javascript:" data-ng-click="calligraphyToggle();">Letters</a> ,...
              <span style="letter-spacing:-0.3px;"> Een optelsom van creativiteit, sport en <a href="javascript:" data-ng-init="urbanus=false" data-ng-click="urbanus=!urbanus">humor</a>.</span>
            </p>

            <p>Ik kan even gemakkelijk een dag spenderen
              <span style="letter-spacing:-0.1px;">aan het perfectioneren van één enkele letter (<a href="https://instagram.com/letteringsoup">instagram</a>),</span>
              als aan een mooie javascript module schrij- ven, een voetbal of basket tornooi spelen en eindigen met
              <span style="letter-spacing:0.2px;">een frisse pint, een fietstocht</span>
              <span style="letter-spacing:-0.1px;">met mijn vriendin of vrienden of de hele dag</span>
              op-soeperen in de keuken.
            </p>

            <p>Mijn leergierigheid loopt recht evenredig met de nood aan een dagelijkse portie
              <a href="javascript:" data-ng-click="toggleAbsurd()">absurditeit</a>.
            </p>
          </div>
          <div class="text visible-xs">
            <p>Ik hou ongeveer evenveel van Kunst als van basket, code, voetbal, illustratie, Letters ,...
              Een optelsom van creativiteit, sport en humor.

            <p>Ik kan even gemakkelijk een dag spenderen aan het perfectioneren van één enkele letter, als aan een
              mooie javascript module schrijven, een voetbal of basket tornooi spelen en eindigen met
              een frisse pint, een fietstocht met mijn vriendin of vrienden of de hele dag op-soeperen in
              de keuken.
            </p>

            <p>Mijn leergierigheid loopt recht evenredig met de nood aan een dagelijkse portie
              absurditeit.
          </div>


        </div>
      </div>

      <div class="col-sm-3">
        <div class="header">
          <h3>VAARDIGHEDEN</h3>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="row-6">
          <div class="col-sm-2" data-ng-repeat="skill in skills">
            <div class="body">
              <h5>{{skill.title}}</h5>

              <div data-ng-repeat="subSkill in skill.subSkills">
                <small data-ng-bind-html="subSkill.title"></small>

                <div class="progress-box">
                  <div class="progress" data-ng-style="{ width : subSkill.percentage }"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-2 hidden-xs" style="margin-top: -103px;">
        <div class="body">
          <div class="profile-image">
            <div data-ng-hide="absurd">
              <span style="color:#D5D5D5;"><i>HOVER</i> DE AFBEELDING VOOR MIJN KEUKENKUNSTEN</span>
              <img data-ng-show="!profile.hover" data-ng-mouseover="profile.hover=true;" src="img/lennert.png">
              <img data-ng-if="profile.hover" data-ng-mouseleave="profile.hover=false;" src="img/lennert.gif">
            </div>
            <div data-ng-show="absurd">
              <span style="color:#D5D5D5;">BLIKSEM EN GIFS... AWESOME...</span>
              <img src="img/len_absurd.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 20px;">
      <div class="col-sm-2">
        <div class="body" style="margin-top: 13px;">
          <video src="http://shipoffools.be/img/work/letterkabinet.mp4" autoplay poster="posterimage.jpg">
          </video>
        </div>
        <div class="body" style="margin-top: 10px;">
          <!-- <img src="img/work_2.gif" style="max-width:100%;"> -->
          <video src="http://shipoffools.be/img/work/duvel.mp4" autoplay poster="posterimage.jpg">
          </video>
        </div>
        <div class="body" style="margin-top: 10px;">
          <!-- <img src="img/work_2.gif" style="max-width:100%;"> -->
          <video src="http://shipoffools.be/img/work/kortrijk.mp4" autoplay poster="posterimage.jpg">
          </video>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="header">
          <h3>ERVARING</h3>
        </div>

        <div class="body highlight">
          <h6>SHIP OF FOOLS » FOUNDER/CREATIVE » 2017 - NU</h6>

          <div class="text">
            <p>
              Samen met Thomas De Ben begon ik in 2017 het bedrijf Ship Of Fools.
              Wij labelen het als een bedrijf dat 'dynamic content' maakt.
              Visuals die niet enkel statisch bestaan, maar afhankelijk van de vraag
              en platform gebruik maken van animatie, code en interactie.
              <br /><br />
              Onze klanten en opdrachten zijn zeer uiteenlopend, van interactieve
              'green screen' animatie voor Duvel als activatie voor festivals,
              tot een modulaire huisstijl voor typografics, waarbij een web module ervoor
              zorgt dat iedereen met de vormgeving aan de slag kan.
              Bij 'the next generation' van design regio kortrijk, kunnen
              de genomineerde studenten zelf aan de slag met de vormgeving
              via een web-platform, zodat we de next generation ook visueel het
              laatste woord laten zeggen.<br />
              Enkele van onze klanten zijn: De Vlaamse Jeugdraad, Handelsbeurs, CIRQ vzw, Refu Interim, Studio Brussel,
              De Volkskrant, Agendschap ondernemen Cyntra Vlaanderen, Liantis, DVV-verzekeringen,
              Boris agency, Oona pr agency, DDB, Dift agency, Deliveroo, Stad Kortrijk
              <br /><br />
              Meer info op: <a href="http://shipoffools.be"> shipoffools.be <a/>
            </p>
          </div>
          <br>
          <h6>IT-GENERATORS » SOFTWARE ENGENEER/GRAPHIC DESIGNER » 2016 — 2017</h6>

          <div class="text">
            <p>
              IT-Generators maakt projecten op maat. Hierbij verzorg ik de vormgeving,
              Teken de UX schermen uit zowel voor de klant, als het wireframe voor de codeurs.
              Daarnaast werk ik mee de code uit in java, en de front-end in angular2.
            </p>
          </div>
          <br>

          <h6>LINKID N.V. » SOFTWARE ENGENEER » 2013 - 2016</h6>

          <div class="text">
            <p>
              Bij linkID N.V. heb ik gedurende 3 jaar gewerkt aan een
              online betaal en identificatie systeem, een digitale portefeuille.
              linkID was een online platform met een front-end in Javascript en backend in Java.
              Ik werkte hoofdzakelijk aan de front-end. Visualiseren van ‘use cases’
              op het web en voor mobiele applicaties. Omzetten van marketing ideeën tot
              een digitaal platform. Het creëren van deze digitale platformen in
              javascript-html-css en aanmaken van het server-side platform in java
              met mysql databank, in een git/Github omgeving.
              De verbinding tussen de ideeën en de code.
            </p>
          </div>
          <br>

          <h6>FBS » FOUNDER/CREATIVE » 2011 - 2013</h6>

          <div class="text">
            <p>
              Samen met Thomas De Ben en Gert Van Goethem richtte ik in 2009 FBS op:
              een grafisch kunst collectief waarmee we drie genomineerde werken maakten voor de grote prijs
              tekenkunst in Ronse, tentoonstellingen in o.a. Gent, Rotterdam,
              Hasselt, Brussel, Antwerpen. Vrij werk, tekeningen en zeefdrukken.
            </p>

            <p>
              Vormgeving voor Gents indie label ‘Caouchou’, maar ook flyers voor festival van vlaanderen
              Brussel: Voor het herfstconcert van de Koning,
              het Klarafestival, internationale netwerk events, CIRQ - bataclan, zowel vormgeving
              als concepten. Verder heb ik samen met Jeroen Janssen 3 strips gepubliceerd
              bij Oogachtend, workshops zeefdrukken gegeven, meer muren volgetekend dan
              ik me kan herinneren, een berg schetsboeken volgekrabbeld en mijn deel aan
              geboortekaartjes, uitnodigingen en 'kapotte' computers voor vrienden/familie-leden gemaakt.
            </p>
          </div>
          <br>

          <h6>STUDENT BRAND MANAGER [ RED BULL ] </h6>

          <div class="text">
            <p>
              Promotie en sponsoring van het merk Red Bull.
            </p>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
